<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>Quick-Doc</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	<body style='vertical-align:middle'>
		{% block body %}
			<div class="vertical-center col-md-13 col-md-offset-13" id="particles-js" style="position:absolute; width:100%; height:100%">
				<div class="col-md-12 text-center">
					<button class="btn btn-primary" id="myBtn" style="font-size:24px; background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%)">Get Started!</button>
				</div>

				<div id="myModal" class="modal vertical-center col-md-4 col-md-offset-4" style="width:110%; margin-left:33%; display:none; z-index: 0;">
					
			    	<form method="post" style="margin:10px; margin-right:10px; font-size:24px">
			    		
					<div class="modal-content" style="width:100%; height:25%">
						<!-- <div class="modal-header">
        				<h5 class="modal-title" id="exampleModalLabel" style="font-size:30px">Enter Information</h5>
        				</div> -->
        			<div class="modal-body">
			    		{% csrf_token %}
			    		{{ form.as_p }}
			    		<div class="row">
			    			<div class="col-md">
				    		<button id="return" type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Close</button>
				    		<button id="test" type="button" class="btn btn-secondary btn-block" onclick="geocodeCalc()" data-dismiss="modal">Test4</button>
				    		</div>
				    		<div class="col-md">
				    		<button type="submit" class="btn btn-primary btn-block">Submit</button>
				    		</div>
				    	</div>
				    	</div>
					</div>
					</form>
					</div>
			</div>
		{% endblock %}
		<style>
		    #particles-js canvas {
		    position: absolute;
		    width: 100%;
		    height: 100%;
		    z-index: -2;
		    background-color:#A9A9A9;
		}
		</style>
		<script>
			//Modal Button javascript
			var btn = document.getElementById("myBtn");

			var modal_form = document.getElementById("myModal");

			var close_btn = document.getElementById("return");

			close_btn.onclick = function() {
				modal_form.style.display = "none";
			}

			btn.onclick = function() {
				modal_form.style.display = "block";
			}

			// window.onclick() function(e) {
			// 	if(e.target == modal_form) {
			// 		modal_form.style.display = "block";
			// 	}
			// 	else {
			// 		modal_form.style.display = "none";
			// 	}
			// }
		</script>
		<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
		<script>
			particlesJS.load('particles-js', 'particles.json', function(){
				console.log('particles.json loaded...');
			});
		</script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script>

	      var placeSearch, autocomplete;
	      var componentForm = {
	        street_number: 'short_name',
	        route: 'long_name',
	        locality: 'long_name',
	        administrative_area_level_1: 'short_name',
	        country: 'long_name',
	        postal_code: 'short_name'
	      };

	      function initAutocomplete() {
	        autocomplete = new google.maps.places.Autocomplete(
	            (document.getElementById('autocomplete')),
	            {types: ['geocode']});

	        autocomplete.addListener('place_changed', fillInAddress);
	      }

	      function fillInAddress() {
	        var place = autocomplete.getPlace();

	        for (var component in componentForm) {
	          document.getElementById(component).value = '';
	          document.getElementById(component).disabled = false;
	          break;
	        }

	        for (var i = 0; i < place.address_components.length; i++) {
	          var addressType = place.address_components[i].types[0];
	          if (componentForm[addressType]) {
	            var val = place.address_components[i][componentForm[addressType]];
	            document.getElementById(addressType).value = val;
	          }
	          break;
	        }
	      }

	      function geocodeCalc() {
	      	var geocoder = new google.maps.Geocoder();
	      	var address = document.getElementById('autocomplete').value;

	      	geocoder.geocode( { 'address': address}, function(results, status) {
	      		if (status === 'OK') {
	      			var location = results[0].geometry.location; //hold the lat & long of user address
            		// var container = document.getElementById("particles-js");
              //       container.innerHTML = '<span style="color:red;">' + results[0].geometry.location + '</span>';
          		} else {
            		alert('Geocode was not successful for the following reason: ' + status);
          		}
          	});


	      }

	       function geolocate() {
	        if (navigator.geolocation) {
	          navigator.geolocation.getCurrentPosition(function(position) {
	            var geolocation = {
	              lat: position.coords.latitude,
	              lng: position.coords.longitude
	            };
	            var circle = new google.maps.Circle({
	              center: geolocation,
	              radius: position.coords.accuracy
	            });
	            autocomplete.setBounds(circle.getBounds());
	          });
	        }
	      }
		</script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCauISu_jwPz5y4UwoVF7PcpYjuRvdCAFc&libraries=places&callback=initAutocomplete"
        async defer></script>

        <style>
        .vertical-center {
		  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
		  min-height: 100vh; /* These two lines are counted as one :-)       */

		  display: flex;
		  align-items: center;
		}
        </style>
	</body>

</html>