<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Enter Information</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	<body style='vertical-align:middle'>
		{% block body %}
		<div class="vertical-center">
		<div class="container">
		    <h1>Home</h1>
		    <form action="dashboard.html" method="post">
		    		{% csrf_token %}
		    		<label for="exampleFormControlInput1">Address</label>
    				<input type="text" class="form-control" id="autocomplete" placeholder="Ex. 3115 Aaron Smith Drive">
    				</br>
    				<label for="exampleFormControlInput1">Concern</label>
    				<select class="form-control form-control-md">
    				  <option>--Please Select--</option>
					  <option>Emergency Room</option>
					  <option>Walk-In Clinic</option>
					</select>
					</br>
			        <button type="submit" class="btn btn-primary">Submit</button>
		    </form>
		</div>
	</div>
		{% endblock %}
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script>

	      var placeSearch, autocomplete;
	      var componentForm = {
	        street_number: 'short_name',
	        route: 'long_name',
	        locality: 'long_name',
	        administrative_area_level_1: 'short_name',
	        country: 'long_name',
	        postal_code: 'short_name'
	      };

	      function initAutocomplete() {
	        autocomplete = new google.maps.places.Autocomplete(
	            (document.getElementById('autocomplete')),
	            {types: ['geocode']});

	        autocomplete.addListener('place_changed', fillInAddress);
	      }

	      function fillInAddress() {
	        var place = autocomplete.getPlace();

	        for (var component in componentForm) {
	          document.getElementById(component).value = '';
	          document.getElementById(component).disabled = false;
	        }

	        for (var i = 0; i < place.address_components.length; i++) {
	          var addressType = place.address_components[i].types[0];
	          if (componentForm[addressType]) {
	            var val = place.address_components[i][componentForm[addressType]];
	            document.getElementById(addressType).value = val;
	          }
	        }
	      }

	       function geolocate() {
	        if (navigator.geolocation) {
	          navigator.geolocation.getCurrentPosition(function(position) {
	            var geolocation = {
	              lat: position.coords.latitude,
	              lng: position.coords.longitude
	            };
	            var circle = new google.maps.Circle({
	              center: geolocation,
	              radius: position.coords.accuracy
	            });
	            autocomplete.setBounds(circle.getBounds());
	          });
	        }
	      }
		</script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDL_7pDwdveLLjx5dxG31y5KNdOqpLEpkk&libraries=places&callback=initAutocomplete"
        async defer></script>
        <style>
        .vertical-center {
		  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
		  min-height: 100vh; /* These two lines are counted as one :-)       */

		  display: flex;
		  align-items: center;
		}
        </style>
	</body>

<!-- 	API GCP Maps API Get request using Ajax -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">>
		$(document).ready(function(){
			const Url='https://maps.googleapis.com/maps/api/distancematrix/json?units=metric&origins=Waterloo,ON&destinations=San+Francisco,Ca&key=AIzaSyCauISu_jwPz5y4UwoVF7PcpYjuRvdCAFc';
			$('.btn').click(function(){
				$.ajax({
					url: Url,
					type: "GET",
					success: function(result){
					console.log(result)
				},
				error:function(error){
					console.log('Error ${error}')
				}
			})
			})
		})
		
	</script>
</html>